modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true
integrations = ["javascript_database:1.0.0"]
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "static"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]
publicDir = "dist"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
JWT_SECRET = "9c9f6167f5dd2de09f62ea8fb47622fb892746854d933061639d96b76cea904a6acf8040813dd1f8aed560f5ff8a1324"
STRIPE_SECRET_KEY = "pk_test_51TlQmFE4IDOWzts1v67hm75CBeWjbr8099qFl3ORTjWg87Z90zwuXL6ATXDah4xWMb0ZSqHsv3NjAaqD07Wi8pwe00Fd3q2Uad"
STRIPE_WEBHOOK_SECRET = "whsec_sMbFMeTToHwqoenGAR2p7SiTTU1FQ826"
